body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 20%;
    background: #987787;
    color: white;
}
.contador{
    border: 5px solid black;
    padding: 15px;
}
p{
    text-decoration: underline;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}